fastapi
uvicorn[standard]
python-multipart
jinja2
yt-dlp
whisperx
pyannote.audio
openai-whisper
sentence-transformers
faiss-cpu
transformers
torch
python-dotenv
accelerate
youtube-transcript-api
nltk
gTTS
deepgram-sdk
moviepy